/* body, div, header, footer{
    border: solid wheat 1px;
    margin: 10px;
    padding: 10px;
    transition: 1s;
} */
body{
    background-color: #222;
    /* margin: 0px; */
    color: white;
}
header{
    box-shadow: 0px 0rem 50rem 5rem #000;
    background-color: #00000050;
    display: flex;
    padding: 1rem;
}
#clickProfile{
    width: 10%;
    border: transparent;
    background-color: transparent;
    transition: 0.5s;
}
.logoBox, .clickProfile{
    width: 10%;
}
#logosize2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: 0.3s;
}
#logosize2:hover{
    opacity: 1;
    box-shadow: 0rem 0.0rem 0px 0.5rem #fff;
    border-radius: 30%;
}
#logosize{
    transition: 0.3s;
    border-radius: 100%;
    /* box-shadow: 0rem 0.1rem 0px #000; */
    width: 100%;
    box-shadow: 0rem 0.0rem 0px 0.1rem #fff;
}
#logosize:hover{
    box-shadow: 0rem 0.0rem 0px 0.5rem #fff;
}
.headerText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.headerText h1{
    font-size: 400%;
}
.topImageBox{
    margin: 1rem 10% 1rem 10%;
    width: 80%;
    height: 30rem;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.topBox{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.tiptop{
    transition: 0.3s;
    border-radius: 30px;
    box-shadow: 0rem 0.1rem 0px #000;
    width: 70%;
}
.topTextBox{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}
.topText{
    margin: 2%;
    border-left: solid white 1px;
    padding-left: 1%;
}
.courseText{
    margin-left:  3%;
    border-left: solid white 1px;
    padding-left: 3%;
}
.course{
    background-color: #00000030;
    margin:  1rem 5%;
    width: 30%;
    transition: 0.3s;
    border-radius: 30px;
    box-shadow: 0rem 0.1rem 0px #000;
}
.courseImage{
    margin: 10px;
    width: auto;
    overflow: hidden;
    border-radius: 30px;
}
footer, .mediaBox{
    background-color: #00000030;
    display: flex;
    transition: 0.5s;
}
.footBox{
    width: 30%;
}
.SosalBox{
    width: 100%;
}
#courseButton{
    background-color: transparent;
    color: white;
    border: transparent;
    transition: 0.1s;
    opacity: 0.8;
    width: 80%;
    height: 5rem;
    font-size: 1.5rem;  
    border-radius: 30px;
    box-shadow: 0rem 5px 0px 0px #000;
}
#courseButton:hover{
    opacity: 1;
    box-shadow: 0rem 0.0rem 0px 0.1rem #fff ;
}
#courseButton:active{
    margin-top: 2px;
    box-shadow: 0rem 2px 0px 0px #000;
    margin-bottom: -2px;
}
.courseButton{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;   
    /* padding: 10px; */
    margin: 10px;
}
#courseImageshow{
    overflow: hidden;
    max-width: fit-content;
    width: 100%;
}
.loginbox{
    height: auto;
    /* margin: 2% 35% 2% 35%; */
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.loginbuttonbox{
    text-align: center;
}
#loginbutton, #signupbutton{
    background-color: transparent;
    color: white;
    border: transparent;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    transition: 0.1s;
    opacity: 0.8;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;  
}
#loginbutton:hover, #signupbutton:hover{
    opacity: 1;    
}
.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
  
.login-content {
    background: #111;
    /* margin: 100rem; */
    width: 30%;
    height: auto;
    border-radius: 5px;
}
#inputCSS{
    background-color: transparent;
    color: white;
    border: transparent;
    border-bottom: solid white 1px;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: #333;
}
::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 6px;
    border: 3px solid #333;
}
.x-Buttondiv{
    text-align: end;
}
#x-button{
    background-color: transparent;
    color: white;
    border: transparent;
    opacity: 0.8;
    font-size: xx-large;
}
#x-button:hover{
    opacity: 1;
}
.course-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
  
.course-content {
    background: #111;
    /* margin: 100rem; */
    width: 30%;
    height: auto;
    border-radius: 5px;
}